[Unit]
Description=rsync userhome to hornetdrive every 5 minutes

[Service]
Type=oneshot
ExecStart=/usr/bin/rsync -vaz --delete --exclude=/$USER/.local --exclude=/$USER/HORNETDRIVE --exclude=/$USER/Drives --exclude=/$USER/.hornetdrive --exclude=/$USER/VirtualBox* --exclude=/$USER/Downloads $HOME $HOME/Drives/linux-home/

#[Install]
#WantedBy=default.target
