[push]
    default = simple

[credential]
    helper = cache --timeout=28800

[color]
    diff = auto
    status = auto
    branch = auto
    ui = true

[color "diff"]
    whitespace = red reverse

[core]
    whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol
    autocrlf = input
    excludesfile = ~/.global_ignore/
    editor = nvim
    quotepath = true
    commitGraph = true

[user]
    email = benjamin.oluf.lorenzen@sap.com
    Name = Oluf Lorenzen
    signingkey = 0xB01ED52E55427415

[alias]
    st = status
    ci = commit
    br = branch
    co = checkout
    cp = cherry-pick
    df = diff
    lg = log -p
    ph = push origin HEAD
    phf = push origin HEAD --force-with-lease
    tree = log --graph --pretty=oneline --abbrev-commit --all --decorate
    stree = log --pretty=oneline --topo-order --graph --abbrev-commit
    wdiff = diff --color-words
    wmdiff = diff master --color-words
    wshow = show --color-words
    wmshow = show master --color-words
    merge = merge --ff-only
    pull = pull --rebase
    tt = timetrack
    graphviz = "!f() { echo 'digraph git {' ; git log --pretty='format: %h -> { %p }' \"$@\" | sed 's/[0-9a-f]\\+/\"&\"/g' ; echo '}'; }; %f"
    conflicted = !nvim +Conflicted
    #git graphviz HEAD^^..HEAD | dotty /dev/stdin
    #git graphviz --first-parent master | dotty /dev/stdin
    f = fuzzy

[gui]
    fontui   = -family terminus -size 9 -weight normal -slant roman -underline 0 -overstrike 0
    fontdiff = -family terminus -size 9 -weight normal -slant roman -underline 0 -overstrike 0
[mergetool "gvimdiff3"]
    cmd = gvim -f -d -c \"wincmd J\" \"$MERGED\" \"$LOCAL\" \"$BASE\" \"$REMOTE\"
[mergetool "vimdiff3"]
    cmd = vim -f -d -c \"wincmd J\" \"$MERGED\" \"$LOCAL\" \"$BASE\" \"$REMOTE\"

[diff "odf"]
      textconv=odt2txt
[diff "localizablestrings"]
    textconv = "iconv -f utf-16 -t utf-8"
[commit]
    gpgsign = true
    verbose = true
[icdiff]
    options = --highlight --line-numbers
[fetch]
    prune = true
[pull]
    rebase = true
[rebase]
    autoStash = true
[gc]
    writeCommitGraph = true
[rerere]
    enabled = true
    autoupdate = true
