.zplug/**
.config/systemd/user/*.wants/**
.config/variety/.firstrun
.config/variety/.last_change_time
.config/variety/.statsid
.config/variety/.version
.config/variety/Downloaded/
.config/variety/banned.txt
.config/variety/history.txt
.config/variety/pencil_tile.png
.config/variety/scripts/get_wallpaper
.config/variety/variety.log
.config/variety/variety_latest_default.conf
.config/variety/wallpaper/wallpaper.jpg.txt
.screenlayout/*
.screenlayout/standalone.sh
.screenlayout/work-4k.sh
.zplug/
.config/variety/ui.conf
