export LANG=en_US.UTF-8

# gather timing infos, then run zprof
#zmodload zsh/zprof

# enable caching
zstyle ':completion:*' use-cache on
zstyle ':completion:*' cache-path ~/.cache/zsh

# Download Znap, if it's not there yet.
_ZNAP_DIR="${HOME}/.local/share/znap/zsnap.git"
_ZNAP_REPOS_DIR="${HOME}/.local/share/znap/repos"
if [[ ! -r ${_ZNAP_DIR}/znap.zsh ]]; then
    mkdir -p ${_ZNAP_DIR}
    git clone --depth 1 https://github.com/marlonrichert/zsh-snap.git ${_ZNAP_DIR}
fi
if [[ ! -r ${_ZNAP_REPOS_DIR}/dircolors-solarized/dircolors.256dark ]]; then
    git clone https://github.com/seebi/dircolors-solarized.git ${_ZNAP_REPOS_DIR}/dircolors-solarized
fi
source ${_ZNAP_DIR}/znap.zsh  # Start Znap
# set directory where znap clones stuff
zstyle ':znap:*' repos-dir ~/.local/share/znap/repos

# complete proc-ids with menu
zstyle ':completion:*:*:kill:*' menu yes select
zstyle ':completion:*:kill:*' force-list always

#export HISTIGNORE="&:[bf]g:exit"
#export HISTCONTROL=ignoredups
# read this number of lines into history buffer on startup
# carefull with this, it will increase bash memory footprint and load time
export HISTSIZE=90000
# HISTFILESIZE is set *after* bash reads the history file
# (which is done after reading any configs like .bashrc)
# if it is unset at this point it is set to the same value as HISTSIZE
# therefore we must set it to NIL, in which case it isn't "unset",
# but doesn't have a value either, go figure
#export HISTFILESIZE=""
export SAVEHIST=$HISTSIZE
## Command history configuration
if [ -z "$HISTFILE" ]; then
    HISTFILE=$HOME/.zsh_history
fi

setopt append_history
setopt extended_history
setopt hist_expire_dups_first
setopt hist_ignore_dups # ignore duplication command history list
setopt hist_ignore_space
setopt hist_verify
setopt inc_append_history
#setopt share_history # share command history data
setopt interactivecomments # enable bash-style comments # like this
# If a command is issued that can’t be executed as a normal command, and the command is the name of a directory, perform the cd command to that directory
setopt auto_cd

typeset -U path # only have paths once in the array

{{ if eq .chezmoi.os "darwin" }}
# python crashes otherwise...
# needs `ln -s /usr/local/Cellar/openssl/1.0.2t/lib/libssl.1.0.0.dylib /usr/local/lib/libssl.dylib ; ln -s /usr/local/Cellar/openssl/1.0.2t/lib/libcrypto.1.0.0.dylib /usr/local/lib/libcrypto.dylib`
{{ end }}

#autoload -Uz compinit
#compinit
builtin source ~/.zsh_aliases
builtin source ~/.zshenv
if [ -e ~/.zsh_local ] ; then builtin source ~/.zsh_local ; fi
{{ if eq .chezmoi.os "darwin" }}
# remove fugly macos old zsh version from fpath
export FPATH=$(echo "$FPATH" | sed -e 's|:/usr/share/zsh/5.9/functions||')
{{ end }}
typeset -U fpath
#print -l $fpath

builtin source ~/.zsh_functions
. ~/.zsh_keybindings
if [ -f ~/.bash_aliases ]; then
    . ~/.bash_aliases
fi
# GITHUB_TOKEN etc
#. ~/.env-secrets

# make less more friendly for non-text input files, see lesspipe(1)
[ -x /usr/bin/lesspipe.sh ] && eval "$(/usr/bin/lesspipe.sh)"

{{ if ne .gpg_keyagent "0" }}
export GPG_TTY=$(tty)
gpg-connect-agent updatestartuptty /bye >/dev/null
{{ end }}
{{ if eq .chezmoi.os "darwin" }}
## mac ssh-agent (dealing with weirdly inconsistent socket path)
possible_sockets=(/private/tmp/com.apple.launchd.*/Listeners)
#if [[ ${#possible_sockets[@]} -gt 0 ]]; then
#    echo "Found multiple possible ssh-agent sockets; you should probably investigate this: ${possible_sockets}" >&2
#    eval $(ssh-agent -s)
#fi
for possible_socket in "${possible_sockets[@]}"; do
    if [[ -e "$possible_socket" ]]; then
        export SSH_AUTH_SOCK="$possible_socket"
        break
    fi
done
#eval $(ssh-agent -s)
if [[ "$(ssh-add -l | wc -l)" -ne "3" ]]; then
  ssh-add --apple-use-keychain ~/.ssh/id_rsa ~/.ssh/id_ed25519 ~/.ssh/id_ed25519-vorta
fi
{{ else }}
if command -v keychain &>/dev/null; then
    sleep 0.$((($RANDOM % 9)))
    eval $(keychain --quiet --eval --agents ssh --inherit any --quick)
    keychain --quick --inherit any --agents "ssh" ~/.ssh/id_rsa ~/.ssh/id_ed25519
    {{ if ne .gpg_keyagent "0" }}
    keychain --quick --inherit any --agents "gpg" {{ .signingkey }}
    {{ end }}

    [ -z "$HOSTNAME" ] && HOSTNAME=$(uname -n)
    [ -f $HOME/.keychain/$HOSTNAME-sh ] &&
        . $HOME/.keychain/$HOSTNAME-sh
    {{ if ne .gpg_keyagent "0" }}
    [ -f $HOME/.keychain/$HOSTNAME-sh-gpg ] && \
        . $HOME/.keychain/$HOSTNAME-sh-gpg
    {{ end }}
fi
{{ end }}

# Make sure that the terminal is in application mode when zle is active, since
# only then values from $terminfo are valid
if (( ${+terminfo[smkx]} )) && (( ${+terminfo[rmkx]} )); then
  function zle-line-init() {
    echoti smkx
  }
  function zle-line-finish() {
    echoti rmkx
  }
  zle -N zle-line-init
  zle -N zle-line-finish
fi

if ! command -v mise &>/dev/null; then
    curl https://mise.run | sh
fi
znap fpath _mise "mise completion zsh"
if [[ "$TERM_PROGRAM" == "vscode" ]]; then
    znap eval mise-shims 'mise activate zsh --shims)'
else
    znap eval mise-noshims 'mise activate zsh'
fi

# set 256 color support if terminal supports it
znap source "chrissicool/zsh-256color"
# syntax highlighting
znap source "z-shell/F-Sy-H"
# autosuggestions
znap source "zsh-users/zsh-autosuggestions"

znap source ohmyzsh/ohmyzsh plugins/{colored-man-pages/colored-man-pages.plugin.zsh,colorize/colorize.plugin.zsh,git/git.plugin.zsh}

#znap source reegnz/jq-zsh-plugin # interactive jq when you get json from somewhere
#bindkey '^j' jq-complete # example, type "curl foo.bar/x.json", then ctrl-j, NOT enter

# interactive git commands, uses fzf
znap clone bigH/git-fuzzy
path+=(~[bigH/git-fuzzy]/bin)

# ssh-{certinfo,facts,hostkeys,keyinfo,ping,pwd,version}
znap clone https://codeberg.org/vaporup/ssh-tools.git
path+=(~[vaporup/ssh-tools]/cmd/bash/*)

# repo summary, repl, changelog population, author commit percentages and more for git
znap clone https://github.com/tj/git-extras.git
path+=(~[tj/git-extras]/bin)
znap fpath _git-extras '< ~[tj/git-extras]/etc/git-extras-completion.zsh'
#fpath+=(~[tj/git-extras]/etc/git-extras-completion.zsh)

# fzf-ied tab completion
#znap source Aloxaf/fzf-tab # seems to break things

znap source junegunn/fzf shell/{completion,key-bindings}.zsh
# install via mise
#path+=(~[junegunn/fzf]/bin)
#~[junegunn/fzf]/install --no-fish --no-bash --bin

export ATUIN_NOBIND="true"
if command -v atuin &>/dev/null; then
  eval "$(atuin init zsh)"
  #export ZSH_AUTOSUGGEST_STRATEGY=(atuin completion)
fi
bindkey '^f' _atuin_search_widget
znap fpath _atuin "atuin gen-completions --shell zsh"

if command -v zoxide &>/dev/null; then
    eval "$(zoxide init zsh --cmd cd)"
fi

# learn completions from random `--help` output
znap source dim-an/cod

# git fzf things
znap source wfxr/forgit

znap fpath _gh 'gh completion -s zsh'
znap fpath _cargo 'rustup completions zsh cargo'
znap fpath _uv 'uv --generate-shell-completion zsh'
znap fpath _rg 'rg --generate=complete-zsh'
znap fpath _fd 'fd --gen-completions=zsh'
znap fpath _bat 'bat --completion zsh'
znap eval _broot 'broot --print-shell-function zsh'

## keep at bottom
znap source zsh-users/zsh-completions

# To customize prompt, run `p10k configure` or edit ~/.p10k.zsh.
[[ ! -f ~/.config/zsh/p10k.zsh ]] || source ~/.config/zsh/p10k.zsh
znap source romkatv/powerlevel10k

_update_stuff() {
    touch /tmp/zsh-update-timer
	mise self-update -y && mise i -q && mise upgrade --bump && mise plugins update
    znap pull
}

if [ ! -e /tmp/zsh-update-timer ] ; then
    _update_stuff
fi
if test $(find /tmp/zsh-update-timer -mtime +1); then
    _update_stuff
fi

# ruby garbage
type rbenv > /dev/null && znap eval rbenv "$(rbenv init -)"

{{ if eq .chezmoi.os "darwin" }}
#if which atuin > /dev/null; then atuin gen-completions --shell zsh > /opt/homebrew/share/zsh/site-functions/_atuin; fi
if [ -e "$(brew --prefix)/share/google-cloud-sdk/" ]; then
    source "$(brew --prefix)/share/google-cloud-sdk/path.zsh.inc"
    source "$(brew --prefix)/share/google-cloud-sdk/completion.zsh.inc"
fi

# crude daily homebrew update
if [ ! -e /tmp/brew-update-timer ] ; then
    touch /tmp/brew-update-timer
    brew update
    brew upgrade
    brew upgrade --cask
    brew cleanup --prune 30
fi
if test $(find /tmp/brew-update-timer -mtime +1); then
    brew update
    brew upgrade
    brew upgrade --cask
    brew cleanup --prune 30
    touch /tmp/brew-update-timer
fi

# get system CAs for e.g. python
security export -t certs -f pemseq -k /System/Library/Keychains/SystemRootCertificates.keychain -o /tmp/bundleCA.pem
security export -t certs -f pemseq -k /Library/Keychains/System.keychain -o /tmp/selfSignedCAbundle.pem
cat /tmp/selfSignedCAbundle.pem >> /tmp/bundleCA.pem
export REQUESTS_CA_BUNDLE=/tmp/bundleCA.pem NODE_EXTRA_CA_CERTS=/tmp/bundleCA.pem SSL_CERT_FILE=/tmp/bundleCA.pem

{{ end }}


# dont suspend background jobs if they produce output
stty -tostop

# locally generated completions
fpath+=(~/.zfunc)
#autoload -Uz compinit#; compinit

# vim: ft=sh
