###+++--- GPGConf ---+++###
#default-cache-ttl 600
#max-cache-ttl 6000
###+++--- GPGConf ---+++### So 29 Mär 2015 16:12:17 CEST
# GPGConf edited this configuration file.
# It will disable options before this marked block, but it will
# never change anything below these lines.

default-cache-ttl 18000
max-cache-ttl 86400
allow-loopback-pinentry
{{ if eq .chezmoi.os "darwin" }}
pinentry-program /opt/homebrew/bin/pinentry-mac
{{ else }}
pinentry-program /usr/bin/pinentry-gtk-2
{{ end }}
