[env]
_.path = ["{{"{{"}}env.HOME{{"}}"}}/.krew/bin"]

[plugins]
# jfrog / artifactory cli
"asdf-mise-plugins-mise-jfrog-cli" = "https://github.com/mise-plugins/mise-jfrog-cli.git"
# cloud
"azure-cli" = "https://github.com/mise-plugins/mise-azure-cli.git"
"gcloud" = "https://github.com/mise-plugins/mise-gcloud.git"
# python
"poetry" = "https://github.com/mise-plugins/mise-poetry.git"
# mobile dev
"flutter" = "https://github.com/mise-plugins/mise-flutter.git"
# k8s
"krew" = "https://github.com/soupglasses/mise-krew"

[tools]
node = 'latest'
python = ["3.14", "3.13", "3.12", "3.11"]
bun = "latest"
rust = "latest"

### Installers and package managers
cargo-binstall = "latest"
"pipx:gitlab-ci-verify-bin" = "latest"
# check software signatures
cosign = "latest"
usage = "latest"

# manage dotfiles
chezmoi = "latest"

### Python tools
uv = { version = "latest", postinstall = "uv --generate-shell-completion zsh > $HOME/.local/share/zinit/completions/_uv && autoload -Uz compinit && compinit -u" }
# formatting/linting
"pipx:black" = "latest"
"pipx:ruff" = "latest"
# requirements, project foo
"pipx:pipreqs" = "latest"
"pipx:pipdeptree" = "latest"
"pipx:validate-pyproject" = "latest"
"pipx:setuptools-py2cfg" = "latest"

# generate dataclasses
"pipx:dataclass-wizard" = "latest"
# project/module dependency and inheritance
"pipx:tach" = "latest"


### Shell tools
# ls replacement
"cargo:eza" = "latest"
# enhanced cat
"cargo:bat" = "latest"
# hex viewer, like xxd but better
"cargo:hexyl" = "latest"
# interactive json viewer
"cargo:jless" = "latest"

### Development tools
# watch file changes and run commands
watchexec = "latest"
# Makefile alternative
just = "latest"

# diff that understands syntax
difftastic = "latest"

# release/changelog via conventional commits
cocogitto = "latest"
# manage multiple VCS repositories
"pipx:vcstool" = "latest"

# ways to visualize your project's coverage data
"pipx:cuvner" = "latest"

# generate project scaffolding from templates
cookiecutter = "latest"
# update repos from cookiecutter templates
"pipx:cruft" = "latest"

# LLM/AI
"npm:cline" = "latest"
"npm:opencode-ai" = "latest"
"pipx:beads-mcp" = "latest"
"npm:beads-ui" = "latest"

# k8s
"aqua:kubernetes-sigs/krew" = { version = "latest", postinstall = "krew install krew" }
# currently has issues finding the krew binary
#"krew:oidc-login" = "latest"

### GIT related
git-lfs = "latest"
"pipx:pre-commit" = "latest" # use prek instead
"ubi:j178/prek" = "latest"
# Automatically absorb staged changes into your current branch
"cargo:git-absorb" = "latest"
# conventional commit linter
"npm:commitlint" = "latest"
"pipx:commitizen" = "latest"
# Changelog generator
"pipx:git-cliff" = "latest"

# nvim/vim
"npm:vim-language-server" = "latest"
"npm:@delance/runtime" = "latest"


### Linting, formatting, etc.
"npm:prettier" = "latest"
"npm:prettier-plugin-toml" = "latest"
"npm:prettier-plugin-sh" = "latest"

# markdown
"npm:remark-cli" = "latest"
"npm:markdownlint-cli" = "latest"
markdownlint-cli2 = "latest"

# format/lint toml
"ubi:tamasfe/taplo" = "latest"
# format/lint shell scripts
shfmt = "latest"
shellcheck = "latest"
"npm:bash-language-server" = "latest"
# format/lint yaml
yamlfmt = "latest"
yamllint = "latest"
"go:github.com/slarwise/yamlls" = "main"
"pipx:git+https://github.com/mschuett/yaml-shellcheck.git" = "v1.6.0"
# Text: spellchecker, grammar, and style
typos = "latest"
"aqua:errata-ai/vale" = "latest"

# JSON
"pipx:check-jsonschema" = "latest"

# ansible
"pipx:ansible-lint" = "latest"
"pipx:ansible-doc-extractor" = "latest"
"npm:@ansible/ansible-language-server" = "latest"
# LUA
lua-language-server = "latest"
# nix language server, requires nix preinstalled
#"cargo:https://github.com/oxalica/nil" = { version = "branch:main", crate = "nil" }

# GitHub Actions
actionlint = "latest"

### Sysadmin
# generates regular expressions from user-provided test cases
grex = "latest"
# fast, remote-first, multi-host TUI log viewer
"go:github.com/dimonomid/nerdlog/cmd/nerdlog" = "latest"
# view/navigate (big) log files
"ubi:tstack/lnav" = { version = "latest", postinstall = "lnav -i extra" }
# parallel ssh
"pipx:ssh-para" = "latest"
# fancy curl
"ubi:https://github.com/babarot/httpstat" = { version = "latest", exe = "httpstat.sh", rename_exe = "httpstat" }

# CSV tools
"pipx:csvkit" = "latest"
# alternative to manpages
"pipx:tldr" = "latest"
# CLI for secrets management
"pipx:keyring" = "latest"
# grep alternative
rg = { version = "latest", postinstall = "rg --generate=complete-zsh > $HOME/.local/share/zinit/completions/_rg && autoload -Uz compinit && compinit -u" }
# also goes through archives and pdfs
ripgrep-all = "latest"
# alternative to find
fd = { version = "latest", postinstall = "fd --gen-completions=zsh > $HOME/.local/share/zinit/completions/_fd && autoload -Uz compinit && compinit -u" }

# SBOM stuff
"ubi:CycloneDX/sbom-utility" = "latest"
"ubi:dineshr93/sq" = "latest"
# software composition analysis tool and Python library that generates a Software Bill of Materials for container images
"pipx:tern" = { version = "latest", uvx_args = "--python 3.11" }


### Shell/ZSH
# shell history in database
atuin = "latest"
# history-based cd
"ubi:ajeetdsouza/zoxide" = "latest"
# explore file hierarchies with a tree-like view, etc
"cargo:broot" = { version = "latest", postinstall = "broot --print-shell-function zsh > $HOME/.config/broot/launcher/bash/br && source $HOME/.config/broot/launcher/bash/br" }


### MacOS
# window management
"go:github.com/cristianoliveira/aerospace-marks" = "latest"

### Misc
"pipx:paperless-asn-qr-codes" = "latest"


[hooks]
enter = "mise i -q && mise plugins update"

[settings]
jobs = 1
experimental = true
ignored_config_paths = [
    "~/SAPDevelop/.local/share/chezmoi/mise.toml",
    "~/.local/share/chezmoi/mise.toml",
]
idiomatic_version_file_enable_tools = ["node"]

[settings.pipx]
uvx = true

[settings.npm]
bun = true

[settings.python]
uv_venv_auto = true
#{{- if eq .chezmoi.os "darwin" }}
#precompiled_arch = "apple-darwin"
#{{- else }}
#precompiled_arch = "unknown-linux-gnu"
#{{- end }}

#[settings.node]
#flavor = "baseline"

